.sidebarContainer {
  width: 100%;
  max-width: 580px;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--color-bg-sidebar);
  color: var(--color-white);
  padding: 1em;
}

.sidebarContainer__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25em 0;
  margin-bottom: 2em;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.inputGroup:last-child {
  margin-bottom: 0;
}

.inputGroup label {
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.inputGroup span {
  font-size: 0.75rem;
  color: var(--color-error);
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea {
  width: 100%;
  padding: 0.75em;
  border-radius: 2.5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  resize: none;
  color: var(--color-black);
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.inputGroup select option {
  padding: 1em;
}

.inputGroup input:focus {
  outline: var(--color-main) solid 3px;
}

/* btn group */

.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0;
}

.alignLeft {
  justify-content: flex-start;
}

.alignLeft > * {
  margin-right: 0.5em;
}
